@import './../../../../../../assets/variables';

$kanban-card-button-size: 3rem;

:host {
  display: block;
  padding: $main-app-margin;
  box-shadow: 0 0.2rem 0.1rem 0 $shadow-100;
}

.kanban-card__header {
  display: flex;
  align-items: flex-start;
}
.kanban-card__title {
  display: flex;
  margin: $main-app-margin/2 $main-app-margin 0 0;
  flex: 1;
}

.kanban-card__action-button {
  width: $kanban-card-button-size;
  height: $kanban-card-button-size;
  line-height: normal;

  .mat-icon {
    width: $kanban-card-button-size;
    height: $kanban-card-button-size;
    line-height: $kanban-card-button-size;
  }
}
