<div class="kanban-card__header">
  <h4 class="kanban-card__title">Tytuł taska</h4>
  <div class="kanban-card__actions">
    <button mat-icon-button class="kanban-card__action-button" id="button--left" color="primary">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button class="kanban-card__action-button" id="button--right" color="primary">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
<div class="kanban-card__content">
<span>Do zrobienia jeszcze to i to. Potem zrobić to i to i to. A na koniec to. </span>
</div>
