@import './../../../../../../assets/variables';

$kanban-card-button-size: 3rem;
$kanban-card-title-max-height: 6rem;
$kanban-card-title-fade-height: 3rem;
$main-color: mat-color($primary, 500);

:host {
  display: block;
  position: relative;
  padding: $main-app-margin;
  box-shadow: 0 0.2rem 0.1rem 0 $shadow-100;
  cursor: pointer;
}

.kanban-card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.kanban-card__title {
  display: flex;
  max-height: $kanban-card-title-max-height;
  overflow: hidden;
  margin: $main-app-margin/2 $main-app-margin 0 0;
  position: relative;
  transition: ease-in-out 0.5s;
  word-break: break-word;

  &::after {
    content: '';
    position: absolute;
    top: $kanban-card-title-max-height - $kanban-card-title-fade-height;
    width: 100%;
    height: $kanban-card-title-fade-height;
    background: linear-gradient(to bottom, rgba($color-light-100, 0), rgba($color-light-100, 1));
    transition: opacity 0.25s;
  }

  &:hover {
    max-height: 16rem;

    &::after {
      opacity: 0;
    }
  }
}

.kanban-card__actions {
  display: flex;
}

.kanban-card__action-button {
  width: $kanban-card-button-size;
  height: $kanban-card-button-size;
  line-height: normal;

  .mat-icon {
    width: $kanban-card-button-size;
    height: $kanban-card-button-size;
    line-height: $kanban-card-button-size;
  }
}

.kanban-card__overlay {
  z-index: -1;
  opacity: 0;
}

:host.card--active {
  .kanban-card__overlay {
    z-index: 1;
    opacity: 1;
    transition: opacity 0.25s;
  }
}

.kanban-card__overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba($main-color, 0.75);

  .mat-icon {
    color: $color-light-100;
  }
}

.kanban-card__content {
  .mat-form-field {
    width: 100%;
  }

  textarea {
    max-height: 7.2rem;
  }
}

.card-form-field {
  display: flex;
  flex-direction: column;
}

.form-field__button-container {
  display: flex;
}
