@import "./../../../assets/variables";

.header-panel__card {
  display: flex;
  align-items: center;
  @include mat-elevation(0);
  background-color: $color-light-100;
  flex: 1;
}

.remove-info-container {
  flex: 1;
}

.add-task-container {
  margin-left: $main-app-margin;
}
