@import './variables';

$custom-typography: mat-typography-config(
  $font-family: 'Roboto Condensed'
);

@include mat-core($custom-typography);

$primary-palette: mat-palette($primary);
$accent-palette: mat-palette($mat-amber);
$warn-palette: mat-palette($mat-red);

$app-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);

@include mat-core-theme($app-theme);
//@include mat-autocomplete-theme($app-theme);
@include mat-button-theme($app-theme);
//@include mat-button-toggle-theme($app-theme);
@include mat-card-theme($app-theme);
//@include mat-checkbox-theme($app-theme);
//@include mat-chips-theme($app-theme);
//@include mat-datepicker-theme($app-theme);
//@include mat-dialog-theme($app-theme);
//@include mat-divider-theme($app-theme);
//@include mat-expansion-panel-theme($app-theme);
@include mat-form-field-theme($app-theme);
//@include mat-grid-list-theme($app-theme);
@include mat-icon-theme($app-theme);
@include mat-input-theme($app-theme);
//@include mat-list-theme($app-theme);
//@include mat-menu-theme($app-theme);
//@include mat-paginator-theme($app-theme);
//@include mat-progress-bar-theme($app-theme);
//@include mat-progress-spinner-theme($app-theme);
//@include mat-radio-theme($app-theme);
//@include mat-select-theme($app-theme);
//@include mat-sidenav-theme($app-theme);
//@include mat-slide-toggle-theme($app-theme);
//@include mat-slider-theme($app-theme);
//@include mat-snack-bar-theme($app-theme);
//@include mat-stepper-theme($app-theme);
//@include mat-table-theme($app-theme);
//@include mat-tabs-theme($app-theme);
//@include mat-toolbar-theme($app-theme);
//@include mat-tooltip-theme($app-theme);
//@include mat-tree-theme($app-theme);
