html {
  font-size: 10px;
}

body {
  font-weight: 300;
  font-size: 1.4rem;
  color: $color-dark-300;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-weight: 300;
}

h1, .h1 {
  font-size: 2.8rem;
}

h2, .h2 {
  font-size: 2.4rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.8rem;
}

h5, .h5 {
  font-size: 1.6rem;
}
