@import '../../../../../assets/shared/kanban-column';

:host {
  justify-content: space-between;
  align-items: center;
  background: $color-light-100;
  padding-left: $main-app-margin;
  @include mat-elevation(0);

  &:not(:first-of-type) {
    margin-left: $main-app-margin;
  }

  &:not(:last-of-type) {
    margin-right: $main-app-margin;
  }
}

.kanban-column-head__name {
  > * {
    font-weight: 400;
  }
}
.kanban-column-head__name,
.kanban-column-head__sort-buttons {
  display: flex;
  align-items: center;
}
